.order {
  display: flex;
  margin-left: 100px;
  column-gap: 10px;
}

.filters {
  display: flex;
  margin-bottom: 200px;
  margin-left: 100px;
  column-gap: 10px;
}

.filter {
  display: flex;
  flex-direction: column;
  position: relative;
}

.select {
  background: #FED74B;
  border: 0.5px solid #CBA500;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(64, 64, 64, 1);
  cursor: pointer;
}

.select__options {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  transform: translateY(100%);
  border: solid;
  border-radius: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}

.select__option {
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 1px solid;
  text-align: center;
}

.select__option:last-child {
    border: none;
}

.select__option:hover {
  background: lightgrey;
}

.select__empty {
  text-align: center;
  padding: 10px 0px;
}

.filter__input {
  text-align: center;
}
